*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:500px;
background:#1e293b;
padding:30px;
border-radius:15px;
color:white;
text-align:center;
}

h1{
margin-bottom:20px;
color:#38bdf8;
}

#question{
margin-bottom:20px;
}

.btn{
display:block;
width:100%;
padding:12px;
margin:10px 0;
border:none;
background:#38bdf8;
color:white;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

.btn:hover{
background:#0284c7;
}

#nextBtn{
margin-top:20px;
padding:12px 25px;
background:limegreen;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

#nextBtn:hover{
background:green;
}